@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Medium.ttf') format('truetype'),
       url('../fonts/Montserrat-Medium.woff') format('woff'),
       url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Light.ttf') format('truetype'),
       url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.eot');
  src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
       url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
       url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.eot');
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
       url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.eot');
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Black.ttf') format('truetype'),
       url('../fonts/Montserrat-Black.woff') format('woff'),
       url('../fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.eot');
  src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Thin.ttf') format('truetype'),
       url('../fonts/Montserrat-Thin.woff') format('woff'),
       url('../fonts/Montserrat-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4xcf9');
  src:  url('../fonts/icomoon.eot?4xcf9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4xcf9') format('truetype'),
    url('../fonts/icomoon.woff?4xcf9') format('woff'),
    url('../fonts/icomoon.svg?4xcf9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before{
    font-family: 'icomoon' !important;
  }
}

.icon-chevronBold:before {
  content: "\e901";
}
.icon-chevron:before {
  content: "\e900";
}

