.wrap {
  width: 100%;
  max-width: 1240px;
  padding: 0px 40px 0px 40px;
  margin: 0 auto;
  @include r(1340) {
    padding: 0px 40px;
  }
  @include r(480) {
    padding: 0px 20px;
  }
}

.btn-white {
  padding: 0 36px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  -webkit-tap-highlight-color: transparent;
  @include r(600) {
    height: 42px;
    padding: 0 24px;
  }

  span {
    font-size: 16px;
    text-align: center;
    color: $blue;
    transform: translateX(0);
    transition: transform $t;
    font-weight: 500;
    @include r(600) {
      font-size: 14px;
    }
  }

  img {
    height: 16px;
    width: 16px;
    position: absolute;

    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all $t;
    @include r(600) {
      height: 13px;
      width: 13px;
      right: 5px;
    }
  }

  &:hover {
    span {
      transform: translateX(-16px);
      transition: transform $t;
      @include r(600) {
        transform: translateX(-10px);
      }
    }

    img {
      right: 20px;
      opacity: 1;
      visibility: visible;
      transition: all $t;
      @include r(600) {
        right: 13px;
      }
    }
  }
}

.btn-blue {
  padding: 0 50px;
  height: 56px;
  background: $blue;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  -webkit-tap-highlight-color: transparent;
  @include r(600) {
    height: 42px;
    padding: 0 24px;
  }

  span {
    font-size: 16px;
    text-align: center;
    color: white;
    transform: translateX(0);
    transition: transform $t;
    font-weight: 500;
    @include r(600) {
      font-size: 14px;
    }
  }

  img {
    height: 16px;
    width: 16px;
    position: absolute;

    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all $t;
    @include r(600) {
      height: 13px;
      width: 13px;
      right: 5px;
    }
  }

  &:hover {
    span {
      transform: translateX(-16px);
      transition: transform $t;
      @include r(600) {
        transform: translateX(-10px);
      }
    }

    img {
      right: 32px;
      opacity: 1;
      visibility: visible;
      transition: all $t;
      @include r(600) {
        right: 13px;
      }
    }
  }
}

.mainFirst {
  background-image: url("../img/bg-wave.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  @include r(1440) {
    background-position: top;
    background-size: contain;
  }
  @include r(1200) {
    background-size: cover;
  }

  &-wrap {

  }

  &-header {
    height: 96px;
    display: flex;
    align-items: center;
    @include r(600) {
      height: 60px;
    }
  }

  &-brand {
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    color: #FFFFFF;
    @include r(600) {
      font-size: 26px;
    }
  }

  &-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @include r(1440) {
      justify-content: space-between;
    }
    @include r(920) {
      flex-direction: column;
    }
  }

  &-left {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-flow: wrap;
    @include r(1440) {
      //width: calc(100% - 360px);
    }
    @include r(1200) {
      width: calc(100% - 400px);
    }
    @include r(920) {
      width: 100%;
    }
  }

  &-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -24px;
    @include r(1440) {
      //width: 360px;
    }
    @include r(1200) {
      width: 300px;
    }
    @include r(920) {
      width: 100%;
      margin-top: 50px;
    }

    img {
      margin-left: 200px;
      @include r(1440) {
        width: 360px;
        margin-left: 100px;
      }
      @include r(1200) {
        width: 300px;
        margin-left: 0px;
      }
      @include r(920) {
        width: 360px;
      }
      @include r(600) {
        width: 280px;
      }
      @include r(420) {
        width: 260px;
      }
    }
  }

  &-headline {
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin-top: 20px;

    span {
      font-weight: bold;
    }

    @include r(1200) {
      font-size: 36px;
      line-height: 44px;
    }
    @include r(600) {
      font-size: 24px;
      line-height: 32px;
      margin-top: 10px;
    }
  }

  &-excerpt {
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #FFFFFF;
    margin-top: 30px;
    @include r(600) {
      font-size: 14px;
      line-height: 1.5;
      margin-top: 20px;
    }
  }

  &-button {
    margin-top: 30px;
    @include r(600) {
      margin-top: 20px;
    }
  }
}

.mainSecond {
  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-headline {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin-top: 20px;
    color: $black;
    margin-bottom: 24px;
    max-width: 530px;
    @include r(768) {
      margin-top: 50px;
    }
    @include r(768) {
      font-size: 24px;
      line-height: 32px;
      margin-top: 40px;
    }
  }

  &-excerpt {
    color: $grey;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    max-width: 780px;
    margin-bottom: 40px;

    @include r(600) {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    @include r(1200) {
      flex-flow: row wrap;
    }
    @include r(700) {
      margin-bottom: 60px;
    }
  }

  &-tile {
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    transition: box-shadow $t;

    @include r(1200) {
      width: calc(50% - 15px);
    }
    @include r(768) {
      width: 100%;
    }

    &:hover {
      box-shadow: 0px 4px 16px rgba($blue, 0.3);
      transition: box-shadow $t;
    }

    &:nth-child(1) {
      margin-right: 20px;
      @include r(768) {
        margin-right: 0;
      }
    }

    &:nth-child(2) {
      margin-right: 20px;
      @include r(1200) {
        margin-right: 0;
      }
      @include r(768) {
        margin-top: 30px;
      }
      @include r(420) {
        margin-top: 20px;
      }
    }

    &:nth-child(3) {
      @include r(1200) {
        width: 100%;
        margin-top: 30px;
      }
      @include r(420) {
        margin-top: 20px;
      }
    }
  }

  &-img {
    margin-top: 48px;
    @include r(600) {
      margin-top: 36px;
    }
  }

  &-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $black;
    margin-top: 40px;
    @include r(600) {
      font-size: 20px;
      margin-top: 30px;
    }
  }

  &-text {
    font-size: 16px;
    line-height: 1.5;
    color: $grey;
    text-align: center;
    max-width: 90%;
    margin-bottom: 48px;
    margin-top: 16px;
    @include r(600) {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 36px;
    }
  }
}

.mainThird {
  background: white;
  position: relative;
  z-index: 4;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: 100%;
    background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%);
    z-index: 2;
    @include r(700) {
      top: 0;
    }
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    z-index: 3;
    align-items: stretch;

  }

  &-left {
    display: flex;
    flex-flow: wrap;
    width: 50%;
    transform: translateY(12px);
    position: relative;
    z-index: 5;
    padding: 85px 0 85px 0;
    @include r(1200) {
      width: 60%;
    }
    @include r(920) {
      width: 500px;
    }
    @include r(700) {
      width: 100%;
      transform: translateY(0);
      padding: 75px 0 80px 0;
    }
  }

  &-right {
    display: flex;
    width: 50%;
    position: relative;
    @include r(1200) {
      width: 40%;
    }
    @include r(920) {
      width: calc(100% - 500px);
    }
    @include r(700) {
      width: 0;
    }

    img {
      z-index: 5;
      position: absolute;
      right: 0;
      @include r(1200) {
        right: auto;
        left: 0;
      }
      @include r(700) {
        height: 130px;
        left: auto;
        right: -110px;
        bottom: 0;
      }
    }
  }

  &-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    z-index: 5;
    margin-bottom: 16px;
    @include r(600) {
      font-size: 24px;
      line-height: calc(39px / 32 * 24);
    }
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    z-index: 5;
    margin-bottom: 24px;

    @include r(600) {
      font-size: 14px;
    }
  }

  &-button {
    z-index: 5;
  }

}

.mainFourth {
  background-image: url("../img/bg-prices.svg");
  background-repeat: no-repeat;
  background-position-y: 60px;
  background-position-x: right;
  background-size: auto;

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-headline {
    max-width: 580px;
    margin-top: 80px;
    margin-bottom: 24px;
  }

  &-excerpt {
    max-width: 665px;
    margin-bottom: 32px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include r(1100) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &-tile {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    border-radius: 32px;
    border: 2px solid #f1f1f1;
    box-shadow: none;
    padding: 32px 30px 40px 30px;
    background: white;
    transition: border-color $t, box-shadow $t;

    @include r(1100) {
      width: 600px;
      margin-right: 0;
    }
    @include r(680) {
      width: 100%;
      justify-content: space-around;
    }
    @include r(600) {
      padding: 28px 24px 30px 24px;
    }

    &:hover {
      border: 2px solid #ffffff;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
      transition: border-color $t, box-shadow $t;

      .mainFourth-price {
        color: $blue;
        transition: color $t;
      }

      .mainFourth-line {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba($blue, .3) 50%, rgba(255, 255, 255, 1) 100%);
        transition: background $t;
      }
    }

    &:nth-child(1) {
      margin-right: 20px;
      @include r(1100) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &:nth-child(2) {
      margin-right: 20px;
      @include r(1100) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &:nth-child(3) {

    }

  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include r(1100) {
      margin-right: 40px;
    }
    @include r(680) {
      margin-right: 0;
    }
    @include r(600) {
      width: 100%;
    }
  }

  &-bottom {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
  }

  &-name {
    font-size: 24px;
    font-weight: 600;
    color: $black;
    width: 100%;
    text-align: center;
    line-height: 1;
    margin-bottom: 19px;
    @include r(600) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &-img {
    width: 210px;
    height: 122px;
    margin-bottom: 16px;
    @include r(1100) {
      margin-bottom: 0;
    }
    @include r(600) {
      margin-bottom: 10px;
    }
  }

  &-price {
    color: $black;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    text-align: center;
    transition: color $t;
    margin-bottom: 20px;
    @include r(1100) {
      margin-bottom: 0;
      margin-top: 38px;
    }
    @include r(600) {
      margin-bottom: 15px;
      margin-top: 0;
      font-size: 38px;
    }
  }

  &-line {
    background: rgb(229, 229, 229);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 50%, rgba(255, 255, 255, 1) 100%);
    height: 1px;
    width: calc(100% - 130px);
    margin-bottom: 24px;
    transition: background $t;
    @include r(1100) {
      display: none;
    }
    @include r(600) {
      display: flex;
      margin-bottom: 16px;
    }
  }

  &-descr {
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;
    @include r(600) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &-button {

  }

  &-contactUs {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: $grey;
    margin-top: 32px;
    margin-bottom: 48px;
    @include r(600) {
      font-size: 14px;
      line-height: 22px;
    }
    @include r(420) {
      margin-bottom: 32px;
    }

    span {
      font-weight: 700;
      color: $blue;
      cursor: pointer;
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $blue;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
      }

      &:hover {
        &:after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }
      }
    }
  }
}

.mainFifth {
  background-image: url("../img/footer-bg.svg");
  //background: $blue;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  @include r(1439) {
    background-size: cover;
    background-position: bottom center;
  }
  @include r(1439) {
    background-position-x: 70%;
  }
  //@include r(420) {
  //  background: $blue;
  //  background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%);
  //}

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-form {
    margin-top: 26px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-flow: wrap;
    max-width: 580px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding-right: 3px;
    @include r(600) {
      height: 50px;
    }
    @include r(420) {
      margin-top: 20px;

    }
  }

  &-input {
    -webkit-tap-highlight-color: transparent;
    padding-left: 19px;
    background: transparent;
    height: 100%;
    flex-grow: 1;
    padding-right: 20px;
    color: $grey;
    font-size: 16px;
    @include r(600) {
      font-size: 14px;
    }
    @include r(420) {
      width: calc(100% - 120px);
      padding: 0 10px;
    }


    &::placeholder {
      color: #b9b9b9;
      font-size: 16px;
      font-weight: 400;
      transition: color $t;
      @include r(600) {
        font-size: 14px;
      }
    }

    &:focus {
      &::placeholder {
        color: #fff;
        transition: color $t;
      }
    }
  }

  &-button {

  }

  &-footer {
    padding: 28px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @include r(700) {
      flex-flow: row wrap;
    }
    @include r(420) {
      padding: 24px 0 24px 0;
    }

    span {
      color: #fff;

      &:nth-child(1) {
        font-size: 32px;
        font-weight: 400;
        @include r(700) {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
        }
        @include r(600) {
          font-size: 26px;
        }
        @include r(420) {
          text-align: center;
          margin-bottom: 15px;
        }
      }

      &:nth-child(2) {
        white-space: nowrap;
        @include r(700) {
          text-align: left;
        }
        @include r(420) {
          text-align: center;
          white-space: normal;
          margin-bottom: 5px;
        }
      }

      &:nth-child(3) {
        @include r(700) {
          text-align: right;
        }
        @include r(420) {
          text-align: center;

        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        font-size: 16px;
        @include r(700) {
          width: 50%;
        }
        @include r(600) {
          font-size: 14px;
        }
        @include r(420) {
          width: 100%;
        }
      }

    }
  }

}